html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.user-search-input {
    width: 100%;
    height: 40px;
    padding: 10px 0;
    font-size: 2em;
    text-align: center;
}

.user {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.user img {
    padding: 7px 10px;
    float: left;
}

.user span {
    position: relative;
    float: left;
    line-height: 60px;
    font-size: 1.5em;
}

.user .reset {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.tweet-search-input {
    width: 100%;
    height: 40px;
    padding: 10px 0;
    font-size: 2em;
    text-align: center;
}

.no-user-found,
.no-tweets-found {
    text-align: center;
    padding: 1em;
    font-size: 1.3em;
    color: grey;
}

.loading,
.error {
    text-align: center;
    padding: 20px;
}

.error {
    color: red;
}

ul.tweet-results {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tweet {
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
    color: inherit;
    text-decoration: none;
}
.tweet:hover {
    background-color: #55acee;
    color: white;
}
